#booking-filter {
  margin: 20px;
  text-align: start;
  color: #7d8da1;
  font-weight: 700;
  width: 30rem;
  align-items: center;
  justify-content: center;
}

#booking-filter label {
  font-size: 15px;
}

select.booking-select {
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  float: right;
  width: 10rem;
}

#booking-list {
  margin: 20px auto;
  width: 100%;
  max-width: 1800px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.booking-select table {
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
}

.booking-select th,
.booking-select td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.booking-select td.ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.booking-select th {
  background-color: #7380ec;
  color: white;
}

.booking-select td input[type='radio'] {
  accent-color: #7380ec;
}

.board {
  flex-direction: column;
  display: flex;
  background: #fff;
  padding: 3px;
  max-height: min-content;
  justify-content: space-around;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 3rem #dce1eb;
}

.board:hover {
  box-shadow: none;
}

.recieved-booking .booking-ref {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.recieved-booking .booking-ref .icon {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #7d8da1;
}

.recieved-booking p {
  padding: 5px 8px;
  align-self: center;
}

.board .action-Btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.board .action-Btns button {
  padding: 8px 2rem;
  cursor: pointer;
  width: min-content;
  border-radius: 5px;
}

.board .action-Btns button:hover {
  box-shadow: 0 2rem 3rem #dce1eb;
}

.board button.accept {
  border: 1px solid #ff4edc;
}

.board button.decline {
  border: 1px solid #7d8da1;
}