{% extends 'index.html' %}
{% load static %}

{% block title %}
F.T.D All-Menu
{% endblock %}

{% block midContent %}
<link rel="stylesheet" href="{% static 'assets/css/allmenu.css' %}">

  <div class="menu-filters">
    <span>
      Filter
    </span>
    <select id="selectedMenu">
      <option value="Breakfast" selected>
        Breakfast Meals
      </option>
      <option value="Lunch">
        Lunch Meals
      </option>
      <option value="Beverages">
        Beverages
      </option>
      <option value="Standalone">
        Standalone Meals
      </option>
    </select>

    
  </div>
  
  
  {% comment %} Break fast meals {% endcomment %}
  <div class="menu-section" id='Breakfast'>
    <span class="menu-header">
      Lunch Menu
    </span>
    <ul>
      {% for dish in dishes %}
        {% if dish.category == "Lunch" %}
          <li>
            <div class="menu-outline">
              <div class="icon">
                <img src="{{ dish.image }}" alt='.png' />
              </div>
              <div class="meal-dis">
                <p>{{ dish.dish }}</p>
                <small>{{ dish.category }}</small>
                &nbsp;&nbsp;&nbsp;
                <span>{{ dish.description }}</span>
                <p>{{ dish.price }}</p>
              </div>
              <div class="actions">
                <button type="delete">
                  <span class="material-symbols-sharp" Style="color:#FF0000;">
                    delete
                  </span>
                  Delete
                </button>
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  {% comment %} Lunch Meals {% endcomment %}
  <div class="menu-section" id="Lunch">
    <span class="menu-header">
      Breakfast Menu
    </span>
    <ul>
      {% for dish in dishes %}
        {% if dish.category == "Breakfast" %}
          <li>
            <div class="menu-outline">
              <div class="icon">
                <img src="{{ dish.image }}" alt='.png' />
              </div>
              <div class="meal-dis">
                <p>{{ dish.dish }}</p>
                <small>{{ dish.category }}</small>
                &nbsp;&nbsp;&nbsp;
                <span>{{ dish.description }}</span>
                <p>{{ dish.price }}</p>
              </div>
              <div class="actions">
                <button type="delete">
                  <span class="material-symbols-sharp" Style="color:#FF0000;">
                    delete
                  </span>
                  Delete
                </button>
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  {% comment %} Beverages {% endcomment %}
  <div class="menu-section" id="Beverages">
    <span class="menu-header">
      Beverages & Drinks
    </span>
    <ul>
      {% for dish in dishes %}
        {% if dish.category == "Beverages" %}
          <li>
            <div class="menu-outline">
              <div class="icon">
                <img src="{{ dish.image }}" alt='.png' />
              </div>
              <div class="meal-dis">
                <p>{{ dish.dish }}</p>
                <small>{{ dish.category }}</small>
                &nbsp;&nbsp;&nbsp;
                <span>{{ dish.description }}</span>
                <p>{{ dish.price }}</p>
              </div>
              <div class="actions">
                <button type="delete">
                  <span class="material-symbols-sharp" Style="color:#FF0000;">
                    delete
                  </span>
                  Delete
                </button>
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  {% comment %} Standalone {% endcomment %}
  <div class="menu-section" id="Standalone">
    <span class="menu-header">
      Standalone Meals
    </span>
    <ul>
      {% for dish in dishes %}
        {% if dish.category == "Standalone" %}
          <li>
            <div class="menu-outline">
              <div class="icon">
                <img src="{{ dish.image }}" alt='.png' />
              </div>
              <div class="meal-dis">
                <p>{{ dish.dish }}</p>
                <small>{{ dish.category }}</small>
                &nbsp;&nbsp;&nbsp;
                <span>{{ dish.description }}</span>
                <p>{{ dish.price }}</p>
              </div>
              <div class="actions">
                <button type="delete">
                  <span class="material-symbols-sharp" Style="color:#FF0000;">
                    delete
                  </span>
                  Delete
                </button>
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  {% comment %} Standalone {% endcomment %}
  <div class="menu-section" id="Standalone">
    <span class="menu-header">
      Desserts
    </span>
    <ul>
      {% for dish in dishes %}
        {% if dish.category == "Desset" %}
          <li>
            <div class="menu-outline">
              <div class="icon">
                <img src="{{ dish.image }}" alt='.png' />
              </div>
              <div class="meal-dis">
                <p>{{ dish.dish }}</p>
                <small>{{ dish.category }}</small>
                &nbsp;&nbsp;&nbsp;
                <span>{{ dish.description }}</span>
                <p>{{ dish.price }}</p>
              </div>
              <div class="actions">
                <button type="delete">
                  <span class="material-symbols-sharp" Style="color:#FF0000;">
                    delete
                  </span>
                  Delete
                </button>
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

{% endblock %}